:root {
  --primary-color: white;
  --secondary-color: #a77ad3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: black;
  color: var(--primary-color);
}

/*Header Section*/
header {
  padding: 20px 35px 20px 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--primary-color);
  margin: 0;
  padding-left: 33px;
  background-color: var(--secondary-color);
}

header a {
  color: var(--primary-color);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 20px;
}

a {
  position: relative;
}

/*Hero Section*/
.hero {
  display: flex;
  position: relative;
  background-image: url("../images/main-header.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 15vw;
}

.hero-subtitle {
  position: absolute;
  right: 0;
  bottom: 25px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 20px;
}

/*Flex Rule*/
.flex-row {
  display: flex;
}

/*Main Content Section*/
.about {
  margin-top: 32px;
}

.section-content {
  color: var(--primary-color);
  margin-left: 40px;
}

.section-title {
  display: flex;
  font-size: 33px;
  border-right: 3px solid var(--primary-color);
  color: var(--primary-color);
  justify-content: right;
  margin-bottom: 15px;
  min-width: 350px;
  max-width: 350px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  position: relative;
  margin-left: 48px;
}

.flex-container img:hover {
  opacity: 0.5;
}

/*Feature Project*/
.feature {
  margin: 8px;
  padding: 8px;
  flex: 1 1 100%;
  display: flex;
  width: 100%;
  justify-content: stretch;
  position: relative;
}

.feature img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--secondary-color);
  object-fit: fill;
  position: relative;
}

/*Secondary Projects*/
.secondary-project {
  margin: 8px;
  padding: 8px;
  flex: 1 1 40%;
  position: relative;
}

.secondary-project img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--secondary-color);
  object-fit: contain;
  position: relative;
}

footer {
  margin-top: 25px;
}

footer ul li {
  list-style: none;
  color: var(--primary-color);
  margin-left: 48px;
}

footer ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-row ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.img-label {
  position: absolute;
  bottom: 10%;
  padding: 20px;
  padding-left: 10%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

ul li a::after {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0px;
  transform: scale(0, 1);
}

ul li a:hover::after {
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

/*Responsive CSS*/
@media screen and (max-width: 768px) {
  .section-title {
    display: flex;
    font-size: 32px;
    border-right: 3px solid var(--primary-color);
    color: var(--primary-color);
    align-items: top;
    text-align: right;
    margin-bottom: 15px;
    min-width: 250px;
    max-width: 250px;
    padding-right: 15px;
  }

  header {
    padding: 10px 25px 10px 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    color: var(--primary-color);
    text-decoration: none;
  }

  header nav {
    margin-top: 30px;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
  }

  header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 16px;
  }

  a {
    position: relative;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    display: flex;
    font-size: 16px;
    border-right: 3px solid var(--primary-color);
    color: var(--primary-color);
    align-items: top;
    text-align: right;
    margin-bottom: 15px;
    min-width: 125px;
    max-width: 125px;
    padding-right: 15px;
  }

  .footer ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 12px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .img-label {
    position: absolute;
    bottom: 0;
    padding: 0;
    background-color: black;
  }

  .hero {
    display: flex;
    position: relative;
    background-image: url("/assets/images/main-header.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 200px;
  }

  .hero-subtitle {
    position: absolute;
    right: 0px;
    bottom: 50px;
    color: var(--primary-color);
    background-color: black;
    padding: 10px;
  }
}
